
    <div class="list-group-item" style="overflow: hidden">
        <button type="button" class="close pull-right" data-bind="click:$root.removeFromCart"><span>&times;</span></button>
        <h4 class="" data-bind="text:product.name"></h4>
        <div class="input-group cart-unit">
            <input type="text" class="form-control" data-bind="textInput:units" readonly/>
                <span class="input-group-addon">
                    <div class="btn-group-vertical">
                        <button class="btn btn-default btn-xs" data-bind="click:addUnit"><i class="glyphicon glyphicon-chevron-up"></i></button>
                        <button class="btn btn-default btn-xs" data-bind="click:removeUnit"><i class="glyphicon glyphicon-chevron-down"></i></button>
                    </div>
                </span>
        </div>
    </div>